//
// USAGE OF THE GRID FRAMEWORK
//

body {
  padding: 1rem;
}

@include make-grid-container;

@include make-grid("xs",12);

@media (min-width: 700px) {
  @include make-grid("sm",12);
}
@media (min-width: 1000px) {
  @include make-grid("md",12);
}

.item {
  background-color: #dedede;
  border: 1px solid white;
  box-sizing: border-box;
  padding: .5rem;
  margin-bottom: .5rem;
}
