//
// USAGE OF THE GRID FRAMEWORK
//

body {
  padding: 1rem;
}

// The default base grid. Is defined outside of mediaqueries to support older
// browsers. In a responsive usecase only 1 to 3 columns would be used
@include make-grid("xss",2);
@include make-grid("xs",3);

// The default base grid.
@media (min-width: 700px) {
  @include make-grid("sm",5);
}
@media (min-width: 1000px) {
  @include make-grid("md",7);
}


.item {
  background-color: #dedede;
  border: 1px solid red;
  box-sizing: border-box;
  padding: .5rem;
  margin-bottom: .5rem;
}

.col {
  border: 1px solid red;
}
