// REQUIRED MIXINS
// Can be placed anywhere.
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// VARIABLES
// Can be placed anywhere
$gutter: 20px;



// Grid mixins
//
// Number of spans of total cols in grid
@mixin make-col($colspan, $cols) {
  @extend .col;
  width: 100% / ($cols/$colspan);
}
// Make offset
@mixin make-offset-col($colspan, $cols) {
  margin-left: 100% / ($cols/$colspan);
}

// Rows
.row {
  @include clearfix();
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
}

// Common styling for columns
.col {
  position: relative;  
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Float columns
  float: left;  
  // Inner gutter via padding 
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

// Wrap is same as container in bootstrap.
.wrap {
  @include clearfix;  
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

// Col classes. 
// Todo, some source map of cols for faster implementation
.span1of5 {
  @include make-col(1,5);
}
.span2of5 {
  @include make-col(2,5);
}
.span3of5 {
  @include make-col(3,5);
}
.span4of5 {
  @include make-col(4,5);
}


.span1of7 {
  @include make-col(1,7);
}
.span2of7 {
  @include make-col(2,7);
}
.span3of7 {
  @include make-col(3,7);
}
.span4of7 {
  @include make-col(4,7);
}


.offset1of5 {
  @include make-offset-col(1,5);  
}
.offset1of7 {
  @include make-offset-col(1,7);  
}
.offset2of7 {
  @include make-offset-col(2,7);  
}