//
// LKgrid framework
// Copyright 2015 Fredrik Danielsson, Lost & Keys AB
//
// Version 1.1
//
//
// USAGE
//
// Create a grid using make-grid(). The function takes two parameters: prefix
// and total number of columns. Example: @include make-grid("xs",3);
// This will make a grid with the classes .xs1of3 to .xs3of3
//

// -----------------------------------------------------------------------------
// Grid mixins
//

// Grid generator
// This mixin generates the classes. It takes a prefix and the number of columns
// and loop through each column and generate corresponding classes
@mixin make-grid($prefix, $totalcols) {
  @for $col from 1 through $totalcols {
    @include make-col($prefix, $col, $totalcols);
    @include make-offset-col($prefix, $col, $totalcols);
    @include make-order($prefix, $col);
  }
}

// Generate each column referenced from make-grid()
// Naming becomes 'xx1of5'
@mixin make-col($prefix, $col, $totalcols) {
  .grid-#{$prefix}-#{$col} {
    width: 100% / ($totalcols/$col);

    min-height: 1px; // Prevent columns from collapsing when empty
    box-sizing: border-box;
  }
}
// Generate each offset referenced from make-grid()
// Naming becomes 'offset-xx1of5'
@mixin make-offset-col($prefix, $col, $totalcols) {
  .grid-#{$prefix}-offset-#{$col} {
    margin-left: 100% / ($totalcols/$col);
  }
}

// Generate order classes.
@mixin make-order($prefix, $col) {
  .grid-#{$prefix}-order-#{$col} {
    order: $col;
  }
}

// -----------------------------------------------------------------------------
// GENERAL CLASSES
//

// Row styles
@mixin make-grid-container {
  .grid-container  {
    display: flex;
    flex-wrap: wrap;
  }
}
