//
// LKgrid framework
// Copyright 2015 Fredrik Danielsson, Lost & Keys AB
//
// Version 1.1
//
//
// USAGE
//
// Create a grid using make-grid(). The function takes two parameters: prefix
// and total number of columns. Example: @include make-grid("xs",3);
// This will make a grid with the classes .xs1of3 to .xs3of3
//

// -----------------------------------------------------------------------------
// VARIABLES
// Can be placed anywhere
//

$gutter: 20px !default;

// -----------------------------------------------------------------------------
// Grid mixins
//

// Grid generator
// This mixin generates the classes. It takes a prefix and the number of columns
// and loop through each column and generate corresponding classes
@mixin make-grid($prefix, $totalcols) {
  @for $col from 1 through $totalcols {
    @include make-col($prefix, $col, $totalcols);
    @include make-offset-col($prefix, $col, $totalcols);
  }
}

// Generate each column referenced from make-grid()
// Naming becomes 'xx1of5'
@mixin make-col($prefix, $col, $totalcols) {
  .#{$prefix}#{$col}of#{$totalcols} {
    width: 100% / ($totalcols/$col);

    // Prevent columns from collapsing when empty
    min-height: 1px;
  }
}
// Generate each offset referenced from make-grid()
// Naming becomes 'offset-xx1of5'
@mixin make-offset-col($prefix, $col, $totalcols) {
  .#{$prefix}#{$col}of#{$totalcols}l {
    margin-left: 100% / ($totalcols/$col);
  }
  .#{$prefix}#{$col}of#{$totalcols}r {
    margin-left: 100% / ($totalcols/$col);
  }
}

// -----------------------------------------------------------------------------
// GENERAL CLASSES
//

// Row styles
.row {
  display: flex;
}
